# Pinned PyTorch + CUDA 12.8
torch==2.7.0+cu128
torchvision==0.22.0+cu128
torchaudio==2.7.0+cu128
--extra-index-url https://download.pytorch.org/whl/cu128

streamlit
gradio
gradio_image_annotation
PyMuPDF
openai
qwen_vl_utils
transformers==4.51.3
huggingface_hub
modelscope
flash-attn==2.8.0.post2
accelerate
fastapi
python-multipart
Pillow
uvicorn
pdf2image
psutil
GPUtil
pynvml
